<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit my appointment</title>
    <title>Create New Appointment</title>
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
    <body>

    <div class="vh-100 d-flex justify-content-center"
         style="background-image: url('/images/Kid-7.jpg'); background-size: cover;">
        <div class="col-md-11" align="center">

        <br/><br/><br/><br/>
        <h1>Edit my appointment  date, time</h1>
        <br/><br/><br/>

        <form action="#" th:action="@{/appointment/edit}" method="post" th:object="${appointment}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{doctor}">
            <input type="hidden" th:field="*{examination}">

            <p>Day:
                <select th:field="*{myDate}">
                    <option th:each="a : ${days}"
                            th:value="${a}"
                            th:text="${a}">
                    </option>

                </select>
            </p>
            <p>Hour:
                <select th:field="*{myTime}">
                    <option th:each="h : ${hours}"
                            th:value="${h}"
                            th:text="${h}">
                    </option>
                </select>
            </p>

            <br/>
            <p><input class="btn btn-primary" type="submit" name="update" value="Update date, time"></p>
            <br/>

            <span th:utext="${successMessage}" style="color:red"></span>

        </form>

        </div>

        <div class="mt-auto p-2" id="logo"><a th:href="@{/}"><img src="/images/logo.png" height="120"/></a></div>

    </div>

    </body>
</html>


