<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

    <h3 th:inline="text">Dear [[${#httpServletRequest.remoteUser}]] ,</h3>
    <h3 th:inline="text">Welcome in our online hospital!</h3>
    <br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
    <br/>
    <br/>


    <form sec:authorize="hasRole('ROLE_PATIENT')">
        <h2> Patients Menu</h2>
        <br/>
        <li>
            <a href="/appointment/show">Show my appointments</a>
        </li>
        <br/>
        <li>
            <a href="/appointment/create">Create new appointment</a>
        </li>
        <br/>
        <li>
            <a href="/doctor/show">Show all doctors</a>
        </li>
    </form>


    <form sec:authorize="hasRole('ROLE_DOCTOR')">
        <h2> Doctors Menu</h2>
        <br/>
        <li>
            <a href="/appointment/show-all">Show all appointments</a>
        </li>
        <br/>
        <li>
            <a href="/doctor/search_choice">View appointments by doctor</a>
        </li>
        <br/>
        <li>
            <a href="/patient/show">Show all patients</a>
        </li>
    </form>


    <form sec:authorize="hasRole('ROLE_ADMIN')">
        <h2> Admins Menu</h2>
        <br/>
        <li>
            <a href="/register-doctor">Add new doctor</a>
        </li>
        <br/>
        <li>
            <a href="/register-admin">Add new admin</a>
        </li>
        <br/>
        <li>
            <a href="/patient/show">Show all patients</a>
        </li>
        <br/>
        <li>
            <a href="/doctor/show">Show all doctors</a>
        </li>
        <br/>
        <li>
            <a href="/appointment/show-all">Show all appointments</a>
        </li>

    </form>

</body>
</html>