<!--login.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div id="masthead">
    <div id="logo"><a th:href="@{/}"><img src="/images/logo.png" height="95"/></a></div>
    <div id="logo1"><a href="https://digitalrazgrad.org/" target="_blank"><img src="/images/digital-razgrad-logo.png"
                                                                               height="95"/></a></div>
    <div id="siteName">YAVOR & TURHAN Medica</div>
</div>
<div id="conteiner" align="center">
    <div id="feature">

        <h1 align="center">Welcome in our online hospital!</h1>
        <br/>
        <div id="loginImage"> <img src="images/medical-00.jpg" style="height: 100%; width: 100%; object-fit: contain"/></div>
        <div id="login">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <h2 th:text="Login"></h2>
                <br/>
                <p>Username: <input type="text" name="username" th:placeholder="Username"/></p>
                <br/>
                <p>Password: <input type="password" name="password" th:placeholder="Password"/></p>

                <div th:if="${param.error}" style="color:red"><p>Username or Password is invalid.</p></div>

                <br/>
                <button class="btn btn-primary" type="Submit" th:text="Login"></button>
                or
                <a class="btn btn-light btn-outline-secondary" th:href="@{/register-patient}" style="color:blue">Register
                    as
                    new patient</a>
                <br/><br/>
            </form>
        </div>
        <div id="loginText">Get top-quality healthcare from the comfort of your home with YAVOR & TURHAN Medica.<br/>
            We offer a wide range of services, including virtual consultations, online prescriptions, and home delivery of medication.
            Our platform is easy to use and convenient, allowing you to connect with a doctor and receive personalized treatment from
            anywhere, at any time. <br/>
            We believe in accessible healthcare, which is why we offer affordable pricing and accept most major insurance plans. <br/>
            Trust us for personalized care and ongoing support. <br/>
            Sign up today and experience the convenience of online healthcare.
        </div>
    </div>
    <div id="content" style="text-align: center;">
        <img src="images/hospital-3.jpg" alt="Hospital" width=90%/>
    </div>
</div>

<div id="siteInfo"> The site created as final project to "Digital Razgrad Course" by Yavor Denev and Turhan
    Syuleymanov.
</div>
</body>
</html>