<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Admin</title>
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<form th:action="@{/register-admin}" th:object="${user}" method="post">

    <div class="vh-100 d-flex justify-content-center"
         style="background-image: url('/images/Kid-4.jpg'); background-size: cover;">
        <div class="col-md-8" align="center">

        <br/><br/><br/>
        <h2>Register Admin</h2><br/>
        <br/><br/><br/>

    <p>Username:
        <input type="text" th:field="*{username}" placeholder="Username" minlength="5" maxlength="30" required/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red">username error</span>
    </p><br/>

    <p>Password:
        <input type="password" th:field="*{password}" placeholder="Password" minlength="5" maxlength="30" required/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red">password error</span><br/><br/>
    </p><br/>

<!--    <p>Select role:-->
<!--        <select th:field="*{role}" required>-->
<!--            <option value="">Select</option>-->
<!--            <option value="ROLE_PATIENT">ROLE_PATIENT</option>-->
<!--            <option value="ROLE_DOCTOR">ROLE_DOCTOR</option>-->
<!--            <option value="ROLE_ADMIN">ROLE_ADMIN</option>-->
<!--        </select>-->
<!--    </p><br/>-->

    <button type="submit">Register</button>
    <br/>
    <br/>
    <br/>

    <a th:href="@{/}">Back to main menu</a></a>
    <br/>
    <br/>

    <span th:utext="${successMessage}"></span>
</form>

</div>
</div>

</body>
</html>