<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Appointments by doctor</title>
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<div class="vh-100 d-flex justify-content-center"
     style="background-image: url('/images/Kid-7.jpg'); background-size: cover;">
    <div class="col-md-8" align="center">

        <br/><br/><br/><br/>
        <h2>Select doctor, sort criteria and </h2>
        <h2>sort direction for appointment</h2>
        <br/><br/>

<form action="#" th:action="@{/doctor/submit_choice}" method="post" >

    <br/>
    <p>
        <label for="doctorId">Doctor:</label>
        <select name="doctorId" id="doctorId">
                <a sec:authorize="hasRole('ROLE_DOCTOR')">
                <option value=0 >You</option>
                </a>
            <option th:each="d : ${doctorsList}"
                    th:value="${d.id}"
                    th:text="${d.firstName} + ' ' + ${d.lastName}">
            </option>
        </select>
    </p>
    <p>
    <label for="sortCriteria">Sort by:</label>
    <select name="sortCriteria" id="sortCriteria">
        <option value=1>Name of patient</option>
        <option value=2>Time</option>
        <option value=3>Patient ID</option>
    </select>
    </p>
    <p>
    <label for="sortMethod">Sort method:</label>
    <select name="sortMethod" id="sortMethod">
        <option value=1>Ascending</option>
        <option value=2>Descending</option>
    </select>
    </p>

    <br/>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>

</form>

</div>
</div>

</body>
</html>